<div id="rotator">
<div class="module news">
  <div class="ctext">
  <div id="bigview" style="background-image: url(http://o4f.eu/storage/misc/donate.png); background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; background-position: initial initial; background-repeat: initial initial; ">
  <div class="textfield" style="bottom: -54.99999999999999px; ">
  <h1 id="bigview_title">Challenge us!</h1>
  <p id="bigview_text">&lt;p&gt;&lt;/p&gt;</p>
  </div>
</div>
<div id="thumbnails" style="top: -300.87582364311766px; ">

<div nr="0" text="&lt;p&gt;&lt;/p&gt;" image="http://i51.tinypic.com/295zfrc.png" class="thumbnail"><img src="http://i56.tinypic.com/ivcpc3.png"> Welcome!</div>


<div nr="1" text="&lt;p&gt;&lt;/p&gt;" image="http://i54.tinypic.com/16jmsjq.jpg" class="thumbnail"><img src="http://i51.tinypic.com/6qw9dz.png"> TeamSpeak3!</div>


<div nr="2" text="&lt;p&gt;&lt;/p&gt;" image="storage/misc/youtube.png" class="thumbnail"><img src="storage/misc/youtube_thumb.png">Subscribe on YouTube!</div>


<div nr="3" text="&lt;p&gt;&lt;/p&gt;" image="storage/misc/blackops.png" class="thumbnail"><img src="storage/misc/blackops_thumb.png">Join our Black Ops Servers!</div>


<div nr="4" text="&lt;p&gt;&lt;/p&gt;" image="storage/misc/challenge.png" class="thumbnail"><img src="storage/misc/challenge_thumb.png">Challenge us!</div>


<div nr="5" text="" image="storage/misc/donate.png" class="thumbnail selected"><img src="storage/misc/donate_thumb.png">Donate to us!</div>


</div>



<script type="text/javascript">
var current = -1;
var offset = 12;
var count = $('#thumbnails .thumbnail').size();
function showBig(title, description,image){
  
  $('#bigview').css("background","url("+image+")");
  $('#bigview .textfield').stop().animate({bottom:'-100px'},200,function(){
    $('#bigview_title').text(title);
    $('#bigview_text').text(description);
  }).delay(100).animate({bottom:'-10px'},200);

}
function rotatorScroll(index){


  if (index < 0)
    index = count-1;
  if (index > count-1)
    index = index-count;
  if (current == index)
    return false;    
  if (index > 0 && index < count){
    $("#thumbnails").stop();
    $("#thumbnails").animate({"top": offset+(-index*96+96)+"px"}, {duration:300});
    current = index;
  }
  if (index == 0){
    $("#thumbnails").stop();
    $("#thumbnails").animate({"top": offset+"px"}, {duration:300});
    current = index;
  }
  var _this = $('.thumbnail[nr="'+index+'"]');
  showBig(_this.text(),_this.attr('text'),_this.attr('image'));
  
  $(".thumbnail").removeClass('selected');
  $('.thumbnail[nr="'+index+'"]').addClass('selected');
}
var temp_i = 0;

function autoScroll(){
  rotatorScroll(temp_i);
  temp_i++;
  if (temp_i == count)
    temp_i = 0;
  setTimeout ( "autoScroll()", 5000 );
}
$(window).load(function(){
  $(".thumbnail").click(function(){
    var index = $(this).attr('nr');
    rotatorScroll(index);
  });
  autoScroll();
});

$("#thumbnails").mousewheel(function(event, delta) {
  if (delta < 0)
    rotatorScroll(current+1);
  else if (delta > 0)
    rotatorScroll(current-1);
  
  return false;
});
</script>
  </div>
</div>
</div>
