<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>o4F Clansite</title>
<%= theme_stylesheet_link_tag 'main' %>

<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.mousewheel.min.js"></script>
<script type="text/javascript">
  function setTitle(text){
    $('title').text('o4F Clansite - '+text);
  }
  
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19277709-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>
   <div id="wrapper">
         <div id="header"></div>
     <%= render_navigation %>
     <%= render_cell :rotator, :news %>
		 <div id="content">
        <%= yield %>
        <div style="clear:both"></div>
        <br>        
		 </div>
		 <div style="display: none;" id="right">
      <div class="module">
        <div class="bar">Location</div>
      </div>
      <div style="clear:both"></div>	 
		 </div>

	 <div id="footer"><span style="float:right">Design: garus & Chalkyy</span><span style="text-align:center">&copy; 2010 o4F clansite</span></div>   
	</div>
	<script type="text/javascript">
	
	$(document).ready(function(){
    $(".loginbox .bar").click(function(){
      if ($(this).parent().hasClass('hidden')){
        $(this).parent().css('height','auto');
        $(this).parent().removeClass("hidden");
      }else{
        $(this).parent().css({height:'25px'});
        $(this).parent().addClass("hidden");
      }
    });

});

	</script>
</body>
</html>
