.comments
  %h5 Comments on this #{parent.class.to_s.downcase}
  
  - parent.comments.each do |comment|
    = render :partial => 'comments/show', :locals => {:@comment => comment}
  
  #comment-new-tmp
  
  :javascript
    $.get("#{url_for [:new, parent, :comment]}", function(data){
      $("#comment-new-tmp").after(data);
      $("#comment-new-tmp").remove();
    });
