- @commentable ||= parent

.module
  .bar Editing comment
  
  = semantic_form_for [@commentable, @comment] do |f|
    = render :partial => 'comments/form', :locals => {:f => f}
  
  .links
    = link_to 'Back', @commentable
