- @forums.each do |forum|
  .module
    .bar
      = link_to forum.name, forum
      = link_to 'Edit', edit_forum_forum_path(forum)
      = link_to 'Destroy', forum, :confirm => 'Are you sure?', :method => :delete
    - for c in forum.categories
      c.name
    

%br

= link_to 'New forum', new_forum_forum_path
